<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/song.css" />
    <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-component-ui.js" type="module"></script>
    <script src="/main.js"></script>
    <pagefind-config base-url="{{ base }}"></pagefind-config>
    <pagefind-config bundle-path="{{ base }}pagefind/" ></pagefind-config>
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content }}
    <pagefind-searchbox></pagefind-searchbox>
  </body>
</html>