<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/styles/song.css" />
    <link rel="manifest" href="/manifest.json">
    <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="/pagefind/pagefind-component-ui.js" type="module"></script>
    <script src="/client_scripts/main.js"></script>

    <pagefind-config base-url="{{ base }}"></pagefind-config>
    <pagefind-config bundle-path="{{ base }}pagefind/" ></pagefind-config>
    <title> {{ title }}</title>
  </head>
  <body>
  <div class = "search-container">
    <pagefind-modal-trigger></pagefind-modal-trigger>
      <pagefind-modal>
        <pagefind-modal-header>
          <pagefind-input></pagefind-input>
        </pagefind-modal-header>
        <pagefind-modal-body>
          <pagefind-summary></pagefind-summary>
          <pagefind-results>
            <script type="text/pagefind-template">
              {{ pagefindResultTemplate }}
            </script>
          </pagefind-results>
        </pagefind-modal-body>
        <pagefind-modal-footer>
          <pagefind-keyboard-hints></pagefind-keyboard-hints>
        </pagefind-modal-footer>
      </pagefind-modal>


  </div>
  <div class="song-container">
    <div class="song-header">
        <h1 id="song-title">{{ title }}</h1>
        <div id="song-author">{{ author }}</div>
    </div>
    <div class="transpose-controls">
        <button id="transpose-down">-</button>
        <span id="transpose-value">0</span>
        <button id="transpose-up">+</button>
    </div>
    <div id="song-lyrics">
      {{ content }}
    </div>
    </div>
    <script src="/client_scripts/transpose.js" type="module"></script>
    <script src="/client_scripts/searchbar.js" type="module"></script>
  </body>
</html>