<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/song.css" />
    <link rel="manifest" href="/manifest.json">
    <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="/pagefind/pagefind-component-ui.js" type="module"></script>
    <script src="/main.js"></script>

    <pagefind-config base-url="{{ base }}"></pagefind-config>
    <pagefind-config bundle-path="{{ base }}pagefind/" ></pagefind-config>
    <title>{{ title }}</title>
  </head>
  <body>
  <div class = "search-container">
    <pagefind-modal-trigger></pagefind-modal-trigger>
    <pagefind-modal></pagefind-modal>
  </div>
  <div class="song-container">
    <div class="song-header">
        <h1 class="song-title" data-pagefind-meta="title">{{ title }}</h1>
        <div class="song-author" data-pagefind-meta="author">{{ author }}</div>
    </div>
    <div class="transpose-controls">
        <button id="transpose-down">-</button>
        <span id="transpose-value">0</span>
        <button id="transpose-up">+</button>
    </div>
    <div class="lyrics">
      {{ content }}
    </div>
    </div>
    <div data-pagefind-body style="display: none;">
      {{ lyrics }}
    </div>
    <script src="/transpose.js"></script>
    <script src="/searchbar.js"></script>
  </body>
</html>