:root {
  --pf-modal-max-width: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background: var(--background-color);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

h3 {
    padding: 20px;
    font-size: 30px;
}

.search-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: var(--search-bg);
}

.random-song-btn {
    background: var(--random-btn-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "inter", sans-serif;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
}

.random-song-btn img {
    filter: brightness(0) invert(1);
}

.random-song-btn:hover {
    background: var(--random-btn-hover);
}

p {
    text-align: center;
    color: var(--text-color);
}


.home-container {
  width: 100%;
  max-width: 700px;
  background: var(--card-background);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px var(--card-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 100%;
  }

  .home-container {
    border-radius: 0;
    max-width: none;
    max-height: none;
    flex: 1;
    width: 100%;
    height: 100%;
  }
}
